<template>
    
    <div class="flexDisplay">
      <div v-for="(pet, i) in pets" :key="i" class="flexCard">
          <p class="flexTitle">{{ pet.name }}</p>
          <img :src="`${publicPath}crop_`+pet.image" width=200 height=200 style="margin:auto" :title="pet.image" @click="fullImage(pet.image)"/>
          <p class="flexText"><b>Last fed:</b> {{ pet.last_fed }}</p>
          <p class="flexText"><b>Scheduled every</b> <u>{{ pet.frequency }}</u> <b>days</b></p>
          <p class="flexText"><b>Feed Today? </b> <span :style="dueColor">&nbsp;{{ dueText }}&nbsp;</span></p>
          <button class="feedButton" @click="feed(pet.name)">Feed</button>
      </div>
    </div>

</template>

<script>
import moment from 'moment';

export default {
    name: 'app',
    data() {
        return{
            pets: [],
            errors: [],
            dueColor: String,
            dueText: String
        }
    },
    created() {
        // axios.get('http://localhost:8081/creatures')
        //     .then(response => (this.pets = response.data))
        //     .catch(e => { this.errors.push(e) })
        // fetch('http://localhost:8081/creatures')
        //     .then(response => response.json())
        //     .then(data => {
        //         console.log(data)
        //     })
        //     .catch(error => console.error(error))

        fetch('http://localhost:8081/creatures')
            .then(response => response.json())
            .then(data => { this.pets = data })
            .catch(error => this.errors.push(error))
    },
    methods: {
        feed: function(petname) {
            alert(petname)
        },
        fullImage: function(url) {
            var win = window.open('./'+url, '_blank');
            win.focus();
        },
        fmtDate: function(datetime, regularity){
            // See if the last time they were fed is too long ago and they're due
            var last = moment(datetime)
            
            if (last.fromNow() >= regularity+" days ago"){ 
                this.dueColor = "background:#FF0000;color:white"; 
                this.dueText = "Yes!"; 
            } else { 
                this.dueColor = "background:#07852F;color:white"; 
                this.dueText = " No ";
            }

            return moment(String(datetime)).format('ddd, MMM D hh:mma')
        }
    } 
}
</script>

<style scoped>
    .flexDisplay{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .flexCard{
        background: white;
        border: 1px solid #dddddd;
        box-shadow: 5px 5px 10px #efefef;
        display: flex;
        flex-direction:column;
        border-radius: 5px;
        padding: 0.5em 0.75em;
        margin: 1em;
    }

    .flexTitle{
        font-size: 14pt;
        line-height: 14pt;
        margin: 0.5em;
    }

    .flexText{
        font-size:9pt;
        line-height: 9pt;
        margin: 0.25em;
    }

    .feedButton{
        border-radius: 5px;
        border: 0;
        margin: 0.5em;
        padding: 0.35em 0.25em;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>