<template>
  <div id="app">
    <div class="top">
        <p id="title">Animal Feed Schedule Keeper</p>
        <p id="status">Status: </p>
    </div>
    <feedCard>
    </feedCard>
  </div>
</template>

<script>
import feedCard from "./components/feedcard.vue"

export default {
  name: 'app',
  components: {
      feedCard
  }
}
</script>

<style>
    html, body {
        padding: 0;
        margin: 0;
    }
    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        /*margin-top: 60px;*/
    }
    .top{
        background: #000000;
        margin: 0;
        padding: 0;
    }
    #title{
        font-size: 1.5em;
        color: #FFFFFF;
        font-weight: bolder;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        padding: 1em 0;
        margin:0;
    }
</style>